input:focus { 
    background-color: #FFF5EE;
}

/*td::after { 
    content: " - Remember this";
}*/

/*.element:before {
    content: "\f000";
    font-family: FontAwesome;
    }*/

 /*  .text-info:after {
    content: "\f000";
    font-family: FontAwesome;
    }*/

    h1 {
    	font-family: Georgia, serif;
    }

    .text-info {
    	font-family: Georgia, serif;
    }

   