input:focus { 
    background-color: #FFF5EE;
}

/*td::after { 
    content: " - Remember this";
}*/

/*.element:before {
    content: "\f000";
    font-family: FontAwesome;
    }*/

    .element:before {
    content: "\f000";
    font-family: FontAwesome;
    }